body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
    line-height: 1.5;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.editor-page, .print-page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 10mm auto;
    margin-bottom: 10px;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}
.editor-page_action-btn {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;


    width: 210mm;
    padding: 10px;
    background: white;
    border: 1px #D3D3D3 dashed;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
}

.editor-page_action-btn li a {
    display: flex;
    align-items: center;
}

.editor-page_bottom-btn:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #0d6efd;
    border-color: #0d6efd;
}
.print-pages {
    display: none;
}

@page {
    size: A4;
    margin: 0;
}
@media print {

    .ql-toolbar, .editor-page, .editor-page_action-btn {
        display: none;
    }
    html, body {
        width: 210mm;
        height: 297mm;    
        line-height: 1.5;
    
    }
    .print-pages {
        display: block;
    }
    .print-page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .print-page p {
        margin: 0;
    }
}